<div class="disclaimer-rate">
    <h2>Exchange Rate Disclaimer</h2>
    <p>
        <a href="http://www.fixer.io" target="_blank">Fixer.io</a> is a free JSON API for current and historical foreign exchange rates published by the European Central Bank.
        The rates are updated daily around 4PM CET.
    </p>
    <div>
        <ol>
            <li>The API runs on Digital Ocean.</li>
            <li>The SSL/TLS certificate is provided by Let's Encrypt.</li>
            <li>Check out the source code on GitHub.</li>
            <li>Fetch the data sets on ECB.</li>
            <li>The API comes with no warranty.</li>
        </ol>
    </div>
    <div>
        <a routerLink="/home" class="link">Back to converter</a>
    </div>
</div>